# Environment variables
PORT=3000
SECRET_KEY=your_secret_key_here

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_sow_fakturera_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app_sow_fakturera_db